<% if user_signed_in? %>
  Hello. You are signed as <%= current_user.email %>
  <%= link_to user_logout_path, method: :post do %>
    <span>Logout</span>
  <% end %>
  <br>
  <%= link_to 'Datasets',dataset_index_path%>
<% else %>
  <%= button_to user_keycloakopenid_omniauth_authorize_path, method: :post, data: { turbo: false } do %>
    <span> Login with Keycloak </span>
  <% end %>
<% end %>
